<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>iPhone Location Move</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSLocationUsageDescription</key>
    <string>使用 Mac 目前位置設定地圖初始視角，不會讀取或變更 iPhone 位置。</string>
    <key>SMPrivilegedExecutables</key>
    <dict>
        <key>com.cash.iPhoneLocationMoveTunnelHelper</key>
        <string>identifier "com.cash.iPhoneLocationMoveTunnelHelper" and anchor apple generic and certificate leaf[subject.OU] = "RGQEG5K4RD"</string>
    </dict>
</dict>
</plist>
